# Surge synth build script
# https://aka.ms/yaml

trigger: none

jobs:
- job: MakeTarball
  steps:
  - checkout: self

  - bash: |
      set -e
      set -o xtrace

      if [ "$SURGE_BRANCH" == "" ]; then
        export SURGE_LOCAL_BRANCH='master'
      else
        export SURGE_LOCAL_BRANCH="${SURGE_BRANCH/refs\/heads\/}"
      fi

      if ! [[ $SURGE_LOCAL_BRANCH =~ ^(master|release/.+)$ ]]; then
        exit 1
      fi

      export SURGE_VERSION="${SURGE_LOCAL_BRANCH##*/}"

      # get the surge code
      git clone --depth 1 --branch $SURGE_LOCAL_BRANCH https://github.com/surge-synthesizer/surge.git 
      cd surge
      git reset --hard $SURGE_LOCAL_BRANCH
      git submodule update --init --recursive

      if [ "$SURGE_VERSION" == "master" ]; then
        export SURGE_VERSION="NIGHTLY-$(date +%Y-%m-%d)-$(git rev-parse --short HEAD)"
      fi
      echo "SURGE_VERSION=$SURGE_VERSION"
      
      # set the active version
      echo $SURGE_VERSION > VERSION

      # Remove the .git directory
      find . -name ".git" -exec rm -rf {} \; || echo "I tried"

      cd ..
      mkdir srctar
      tar -cvzf srctar/SurgeSrc_${SURGE_VERSION}.tgz surge
    displayName: Get source for Tarball
    
  - task: PublishPipelineArtifact@0
    inputs:
      artifactName: 'SOURCE_TARBALL'
      targetPath: 'srctar'
    displayName: Publish Source Tarball


- job: Build
  dependsOn: MakeTarball
  condition: succeeded()
  strategy:
    matrix:
      mac:
        imageName: 'macos-10.14'
        isMac: true
      windows:
        imageName: 'vs2017-win2016'
        isWindows: true
        x64: true
      windows-x86:
        imageName: 'vs2017-win2016'
        isWindows: true
        x86: true
      linux:
        imageName: 'ubuntu-16.04'
        isLinux: true

  pool:
    vmImage: $(imageName)

  steps:
  - checkout: none

### SETUP SECTION

  - bash: |
      set -e

      if [ "$SURGE_BRANCH" == "" ]; then
        export SURGE_LOCAL_BRANCH='master'
      else
        export SURGE_LOCAL_BRANCH="${SURGE_BRANCH/refs\/heads\/}"
      fi

      if ! [[ $SURGE_LOCAL_BRANCH =~ ^(master|release/.+)$ ]]; then
        exit 1
      fi

      echo "SURGE_LOCAL_BRANCH=$SURGE_LOCAL_BRANCH"
      echo "##vso[task.setvariable variable=SURGE_LOCAL_BRANCH]$SURGE_LOCAL_BRANCH"
      echo "##vso[task.setvariable variable=SURGE_LOCAL_BRANCH;isOutput=true]$SURGE_LOCAL_BRANCH"

      export SURGE_VERSION="${SURGE_LOCAL_BRANCH##*/}"
      echo "SURGE_VERSION=$SURGE_VERSION"

      # get the surge code
      git clone --depth 1 --branch $SURGE_LOCAL_BRANCH https://github.com/surge-synthesizer/surge.git 
      mv -f surge/* .
      mv -f surge/.git .
      rm -rf surge
      git reset --hard $SURGE_LOCAL_BRANCH
      ls -al .
      ls -al libs
      git status

      git submodule update --init --recursive

      if [ "$SURGE_VERSION" == "master" ]; then
        export SURGE_VERSION="NIGHTLY-$(date +%Y-%m-%d)-$(git rev-parse --short HEAD)"
      fi
      echo "SURGE_VERSION=$SURGE_VERSION"

      # set the active version
      echo $SURGE_VERSION > VERSION

      export SURGE_VERSION=$(cat VERSION)
      echo "SURGE_VERSION=$SURGE_VERSION"
      echo "##vso[task.setvariable variable=SURGE_VERSION]$SURGE_VERSION"
      echo "##vso[task.setvariable variable=SURGE_VERSION;isOutput=true]$SURGE_VERSION"
    name: surge
    displayName: all - Setup Source and Version

  - bash: |
      set -x
      sudo apt-get update

      # Requirements for Surge
      
      sudo apt-get install -y libgtkmm-3.0-dev
      sudo apt-get install -y xcb
      sudo apt-get install -y libxcb-util-dev
      sudo apt-get install -y libxcb-cursor-dev
      sudo apt-get install -y libxcb-keysyms1-dev
      sudo apt-get install -y libxkbcommon-dev
      sudo apt-get install -y libxkbcommon-x11-dev
      sudo apt-get install -y devscripts

      # Requirements for surge-fx
      sudo apt-get install -y libgtk-3-dev
      sudo apt-get install -y libwebkit2gtk-4.0
      sudo apt-get install -y libwebkit2gtk-4.0-dev
      sudo apt-get install -y libcurl4-openssl-dev
      sudo apt-get install -y alsa
      sudp apt-get install -y alsa-tools
      sudo apt-get install -y libasound2-dev
      sudo apt-get install -y jack
      sudo apt-get install -y libjack-dev
      sudo apt-get install -y libfreetype6-dev
      sudo apt-get install -y libxinerama-dev
      sudo apt-get install -y libxcb-xinerama0
      sudo apt-get install -y libxinerama1
      sudo apt-get install -y x11proto-xinerama-dev
      sudo apt-get install -y libxrandr-dev
      sudo apt-get install -y libgl1-mesa-dev
      sudo apt-get install -y libxcursor-dev 
      sudo apt-get install -y libxcursor1 
      sudo apt-get install -y libxcb-cursor-dev 
      sudo apt-get install -y libxcb-cursor0

    condition: variables.isLinux
    displayName: linux - Setup Host

#### DO THE SURGE BUILDS

  - bash: |
      ./build-linux.sh clean && ./build-linux.sh build

    condition: variables.isLinux
    displayName: linux - Build Surge

  - bash: |
      set -e

      ./build-osx.sh --build --verbose

    condition: variables.isMac
    displayName: macOS - Build Surge

  - bash: |
      set -e

      mkdir -p build
      cmake -Bbuild -A x64
    condition: and(variables.isWindows, variables.x64)
    displayName: win64 - Setup Project

  - bash: |
      set -e

      mkdir -p build
      cmake -Bbuild -A Win32
    condition: and(variables.isWindows, variables.x86)
    displayName: win32 - Setup Project


  - bash: |
      set -e

      cmake --build build --config Release 
    condition: variables.isWindows
    displayName: win - Build Surge

#### FX Stage

  - bash: |
      set -e

      git clone https://github.com/surge-synthesizer/surge-fx.git
      cd surge-fx
      git submodule update --init --recursive

    displayName: all - Clone FX

  - bash: |
      set -e

      cd surge-fx
      cmake -Bbuild
      cmake --build build --config Release --target well-named-assets

    condition: variables.isLinux
    displayName: linux - Build FX

  - bash: |
      set -e
      
      cd surge-fx
      cmake -Bbuild
      cmake --build build --config Release --target well-named-assets

    condition: and(variables.isWindows, variables.x64)
    displayName: win64 - Build FX

  - bash: |
      set -e

      cd surge-fx
      cmake -Bbuild -A Win32
      cmake --build build --config Release --target well-named-assets

    condition: and(variables.isWindows, variables.x86)
    displayName: win32 - Build FX

  - bash: |
      set -e

      cd surge-fx
      cmake -Bbuild -GXcode
      cmake --build build --config Release --target well-named-assets | xcpretty

    condition: variables.isMac
    displayName: mac - Build FX


### Make the installers

  - bash: |
      set -e
      echo "SURGE_VERSION=$SURGE_VERSION"
      pushd installer_mac
      ./make_installer.sh $SURGE_VERSION --dmg
      rm -f *.pkg
      popd
    condition: variables.isMac
    displayName: mac - make installer

  - task: PublishPipelineArtifact@0
    inputs:
      artifactName: 'INSTALLER_MAC_DMG'
      targetPath: 'installer_mac/installer'
    condition: variables.isMac
    displayName: mac - publish DMG

  - bash: |
      set -e
      nuget install innosetup
      iscc installer_win/surge.iss
    condition: and(variables.isWindows, variables.x64)
    displayName: win64 - make installer


  - task: PublishPipelineArtifact@0
    inputs:
      artifactName: 'INSTALLER_WIN_EXE'
      targetPath: 'installer_win/Output'
    condition: and(variables.isWindows, variables.x64)
    displayName: win64 - publish installer

  - bash: |
      set -e
      nuget install innosetup
      iscc installer_win/surge-x86.iss
    condition: and(variables.isWindows, variables.x86)
    displayName: win32 - make installer

  - task: PublishPipelineArtifact@0
    inputs:
      artifactName: 'INSTALLER_WIN_X86_EXE'
      targetPath: 'installer_win/Output'
    condition: and(variables.isWindows, variables.x86)
    displayName: win32 - publish installer

  - bash: |
      echo "SURGE_VERSION=$SURGE_VERSION"
      pushd installer_linux
      echo "sudo makedeb so we get root file perms, since --root-owner-group doesn't work on ubuntu 16.04"
      echo "sudo ./make_deb.sh $SURGE_VERSION"
      sudo ./make_deb.sh "$SURGE_VERSION"
      popd
    condition: variables.isLinux
    displayName: linux - make deb installer

  - task: PublishPipelineArtifact@0
    inputs:
      artifactName: 'INSTALLER_LINUX_DEB'
      targetPath: 'installer_linux/product'
    condition: variables.isLinux
    displayName: linux - publish deb installer


- job: Release
  dependsOn: Build
  condition: succeeded()
  variables:
    SURGE_VERSION: $[ dependencies.Build.outputs['mac.surge.SURGE_VERSION'] ]
    SURGE_BRANCH: $[ dependencies.Build.outputs['mac.surge.SURGE_LOCAL_BRANCH'] ]

  steps:
  - checkout: self

  - task: DownloadSecureFile@1
    inputs:
      secureFile: surge-build-bot.sh

  - task: DownloadSecureFile@1
    inputs:
      secureFile: update-website.sh

  - task: DownloadPipelineArtifact@0
    inputs:
      artifactName: 'INSTALLER_MAC_DMG'
      targetPath: $(System.DefaultWorkingDirectory)

  - task: DownloadPipelineArtifact@0
    inputs:
      artifactName: 'INSTALLER_WIN_EXE'
      targetPath: $(System.DefaultWorkingDirectory)

  - task: DownloadPipelineArtifact@0
    inputs:
      artifactName: 'INSTALLER_WIN_X86_EXE'
      targetPath: $(System.DefaultWorkingDirectory)

  - task: DownloadPipelineArtifact@0
    inputs:
      artifactName: 'INSTALLER_LINUX_DEB'
      targetPath: $(System.DefaultWorkingDirectory)

  - task: DownloadPipelineArtifact@0
    inputs:
      artifactName: 'SOURCE_TARBALL'
      targetPath: $(System.DefaultWorkingDirectory)

  - bash: |
      set -e
      set -x

      echo "SURGE_VERSION: $SURGE_VERSION"

      ls -alFh

      mkdir -p releases
      mv *.exe releases
      mv *.zip releases
      mv *.dmg releases
      mv *.deb releases
      mv *.tgz releases

      openssl dgst -sha256 releases/* > release_sha256.txt
      mv release_sha256.txt releases

      # perform GH release
      . $AGENT_TEMPDIRECTORY/surge-build-bot.sh
      export GHR=ghr_v0.12.0_linux_amd64
      curl -L https://github.com/tcnksm/ghr/releases/download/v0.12.0/$GHR.tar.gz --output ghr.tar.gz
      tar zxvf ghr.tar.gz

      echo "SURGE BRANCH is $SURGE_BRANCH"
      if [ "$SURGE_BRANCH" == "master" ]; then
        echo "Exporting to NIGHTLY"
        export SURGE_LOCAL_BRANCH="NIGHTLY"
        export PRE="-prerelease"
      else
        export "Exporting to new version $SURGE_VERSION"
        export SURGE_LOCAL_BRANCH=$SURGE_VERSION
      fi
      $GHR/ghr $PRE -b "Release $SURGE_VERSION" -recreate $SURGE_LOCAL_BRANCH releases

      . $AGENT_TEMPDIRECTORY/update-website.sh $SURGE_LOCAL_BRANCH $SURGE_VERSION
    displayName: Perform Release
